.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Envolver elementos en filas adicionales si no caben en una sola fila */
}

.image-container {
  width: 50%;
  border-radius: 8px; /* Bordes curvos */
}

.full-width-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Bordes curvos */
}

.text-content {
  width: 50%;
  padding: 20px;
  text-align: justify;
}

.history h2 {
  text-align: center;
}

.history p {
  margin-bottom: 1em;
  text-align: justify;
}

/* Otros estilos */
h1, h2 {
  color: #fd6a01; /* Color para los títulos */
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Espacio debajo de los títulos */
}

/* Estilos específicos para el diseño responsive */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .image-container, .text-content {
    width: 100%;
  }

  .text-content {
    padding-top: 20px;
  }

  .side-content {
    margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    margin-bottom: 20px; /* Espacio inferior en dispositivos móviles */
  }

  .side-images {
    flex-direction: row; /* Mostrar imágenes en fila en dispositivos móviles */
    align-items: flex-start; /* Alinear imágenes hacia arriba en dispositivos móviles */
  }

  .side-images img {
    width: calc(50% - 5px); /* Ajustar tamaño de las imágenes en dispositivos móviles */
  }
}

.side-content {
  flex: 1;
  margin-right: 20px; /* Espacio entre el contenido principal y las imágenes */
}

.side-content p {
   text-align: justify;
}

.escuela {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.escuela p{
  text-align: justify;
}

.side-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinear imágenes a la derecha */
  gap: 15px; /* Espacio entre las imágenes */
}
.side-images2 {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre las imágenes */
  background-image: url('../assets/Img/Imagen-inicio5.jpg');
  background-size: cover;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken; /* Cambia a 'darken' o 'multiply' */
  background-color: rgba(0, 0, 0, 0.5); /* Color negro semi-transparente */
}

.container3{
  height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  display: flex;
}
.side-images img {
  width: 400px; /* Ajustar tamaño de las imágenes */
  height: auto; /* Altura automática */
  border-radius: 8px; /* Bordes curvos */
}


.images-centered {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Espacio debajo de la imagen centrada */
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container .card {
  width: 300px; /* Ajusta este tamaño según tus necesidades */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.card-container .card h2 {
  margin: 20px 0;
  color: #fd6a01;
}

.card-container .card p, .card-container .card ul {
  text-align: justify;
}

.card-container .card a {
  color: #2980b9;
  text-decoration: none;
}

.card-container .card a:hover {
  text-decoration: underline;
}

.card-container .card .fa {
  margin-bottom: 10px;
}

.institucion, .vision {
  margin-top: 20px; /* Espacio encima de las secciones */
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Estilos de Contacto */
.contact-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-details {
  margin-bottom: 30px;
}

.contact-details h2 {
  font-size: 1.8em;
  color: #fd6a01; /* Usamos el color existente para los títulos */
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contact-details p {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

address {
  font-style: normal;
  margin-bottom: 15px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #fd6a01; /* Usamos el color existente */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e55d00;
}

/* Estilos de Voluntarios */
.volunteer-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.volunteer-details {
  margin-bottom: 30px;
}

.volunteer-details h2 {
  font-size: 1.8em;
  color: #fd6a01; /* Usamos el color existente para los títulos */
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.volunteer-details p,
.volunteer-details ol {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

.volunteer-details ol {
  padding-left: 20px;
}

.volunteer-details ol li {
  margin-bottom: 15px;
}
