.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;/* Envolver elementos en filas adicionales si no caben en una sola fila */
}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.text-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 0 1 40%; /* Ajusta la proporción del espacio que ocupan las imágenes */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.full-width-image {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.small-image {
  width: 80%; /* Reducir el tamaño de la segunda imagen */
  align-self: flex-start; /* Alinearla al inicio para que no sea centrada */
}

.text-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history h2 {
  text-align: center;
  color: #fd6a01;
  margin-bottom: 20px;
}

.history p {
  margin-bottom: 1em;
  text-align: justify;
  line-height: 1.6;
  color: #333;
}
h1, h2 {
  color: #fd6a01; /* Color para los títulos */
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Espacio debajo de los títulos */
}
/* Estilos específicos para el diseño responsive */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    
  }

  .image-container, .text-content {
    width: 100%;
  }

  .text-content {
    padding-top: 10px;
  }

  .side-content {
    margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    margin-bottom: 20px; /* Espacio inferior en dispositivos móviles */
  }

  .side-images {
    flex-direction: row; /* Mostrar imágenes en fila en dispositivos móviles */
    align-items: flex-start; /* Alinear imágenes hacia arriba en dispositivos móviles */
  }

  .side-images img {
    width: calc(50% - 5px); /* Ajustar tamaño de las imágenes en dispositivos móviles */
  }
  .history h2 {
    font-size: 1.5em;
  }
}

.side-content {
  flex: 1;
  margin-right: 20px; /* Espacio entre el contenido principal y las imágenes */
}

.side-content p {
   text-align: justify;
}

.escuela {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.escuela p{
  text-align: justify;
}

.side-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinear imágenes a la derecha */
  gap: 15px; /* Espacio entre las imágenes */
}

.side-images2 {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre las imágenes */
  background-image: url('../assets/Img/Imagen-inicio5.jpg');
  background-size: cover;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken; /* Cambia a 'darken' o 'multiply' */
  background-color: rgba(0, 0, 0, 0.5); /* Color negro semi-transparente */
}

.container3{
  height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  display: flex;
}
.side-images img {
  width: 400px; /* Ajustar tamaño de las imágenes */
  height: auto; /* Altura automática */
  border-radius: 8px; /* Bordes curvos */
}


.images-centered {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Espacio debajo de la imagen centrada */
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container .card {
  width: 300px; /* Ajusta este tamaño según tus necesidades */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.card-container .card h2 {
  margin: 20px 0;
  color: #fd6a01;
}

.card-container .card p, .card-container .card ul {
  text-align: justify;
}

.card-container .card a {
  color: #2980b9;
  text-decoration: none;
}

.card-container .card a:hover {
  text-decoration: underline;
}

.card-container .card .fa {
  margin-bottom: 10px;
}

.institucion, .vision {
  margin-top: 20px; /* Espacio encima de las secciones */
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Estilos de Contacto */
.contact-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-details {
  margin-bottom: 30px;
}

.contact-details h2 {
  font-size: 1.8em;
  color: #fd6a01; /* Usamos el color existente para los títulos */
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contact-details p {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

address {
  font-style: normal;
  margin-bottom: 15px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #fd6a01; /* Usamos el color existente */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e55d00;
}

/* Estilos de Voluntarios */
.volunteer-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.volunteer-details {
  margin-bottom: 30px;
}

.volunteer-details h2 {
  font-size: 1.8em;
  color: #fd6a01; /* Usamos el color existente para los títulos */
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.volunteer-details p,
.volunteer-details ol {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

.volunteer-details ol {
  padding-left: 20px;
}

.volunteer-details ol li {
  margin-bottom: 15px;
}

.carousel {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  position: relative;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 5px 10px #000;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 10px;
}

.carousel .list .item .content .des {
  margin-top: 8px;
  width: 85%;
  font-size: 1.2em;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 3.3em; 
  line-height: 1.3em;
}

.carousel .list .item .content .topic {
  color: #fd6a01;
}


.carousel .list .item .content button {
  background-color: #fd6a01;
  font-size: 1.1em;
  font-weight: bold;
  color: #eee;
  border-radius: 40px;
  border: none;
}
.btn-novedades{
  background-color: #fd6a01;
  font-size: 1.1em;
  font-weight: bold;
  color: #eee;
  border-radius: 40px;
  border: none;
  text-decoration: none;
}
.btn-novedades:hover{
  background-color: #d15500; /* Cambiar el color de fondo en hover */
  transition: background-color 0.3s ease-in-out;
}
.carousel .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #fd6a01;
}

.carousel .list .item .content button:hover {
  transform: scale(1.1);
}

.thumbnail {
  position: absolute;
  bottom: -5px;
  left: 55%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  animation: scaleUp 0.8s ease-in-out;
  overflow: hidden;
}

.thumbnail .item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 40px;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.thumbnail .item:hover img {
  transform: scale(1.1);
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 1;
}

.thumbnail .item .title {
  font-weight: bold;
  color: #eee;
  padding: 2px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.thumbnail .item .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail .item:hover .hover-content {
  opacity: 1;
}
.carousel .list .item .content button:hover {
  background-color: #d15500; /* Cambiar el color de fondo en hover */
  transition: background-color 0.3s ease-in-out;
}
.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .carousel {
    height: 60vh;
  }

  .carousel .list .item .content {
    top: 15%;
    max-width: 80%;
  }

  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
    font-size: 3em;
  }

  .carousel .list .item .content .des {
    font-size: 1em;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 50vh;
  }

  .carousel .list .item .content {
    top: 10%;
    max-width: 90%;
  }

  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
    font-size: 2.5em;
  }

  .carousel .list .item .content .des {
    font-size: 0.9em;
  }

  .thumbnail {
    display: none; /* Ocultar thumbnails en pantallas menores a 768px */
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 40vh;
  }

  .carousel .list .item .content {
    top: 2%; /* Reducir el top para asegurar que todo el contenido sea visible */
    max-width: 100%;
    padding: 10px; /* Reducir padding para ahorrar espacio */
  }

  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
    font-size: 1.8em; /* Ajustar tamaño de la fuente */
    line-height: 1.2em; /* Reducir line-height para ahorrar espacio vertical */
  }

  .carousel .list .item .content .des {
    font-size: 0.75em; /* Ajustar tamaño de la descripción */
  }

  .carousel .list .item .content button {
    font-size: 0.9em; /* Reducir tamaño del texto en el botón */
    padding: 8px 15px; /* Reducir padding del botón */
  }

  .thumbnail {
    display: none; /* Mantener oculto en pantallas pequeñas */
  }
}


@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}