@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
.navbar-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
  width: 100%;
  height: 80px;
  border-radius: 13px;
  background-color: #fff;
}
.logo{
  cursor: pointer;
  height: auto; 
  max-width: 500px; 
  object-fit: contain; 
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}
.nav-links{
  text-decoration: none;
  color: #fd6a01;
  font-size: 1.0rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nav-links:hover{
  background-color: #d15500 ;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.nav-links.active {
  background-color: #d15500 ;
  color: #fff;
  border-radius: 20px;

}
.menu-icons {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: black; /* Cambia el color según sea necesario */
  position: absolute; /* Asegúrate de que esté posicionado correctamente */
  top: 15px;
  right: 20px;
  z-index: 100; /* Asegúrate de que esté por encima del menú */
}
.tipo-talleres{
  margin: 4rem 6rem;
}
.tipo-talleres h1{
  font-size: 3rem;
}
.first-des{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.first-des-reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.des-text{
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}
.des-text h2{
  padding-bottom: 1rem;
}
.image{
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.image img{
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1px 1px 62px -18px rgba(8, 8, 8, 0.25);
}
.image img:nth-child(2){
  position:absolute;
  top: -10%;
  right: 0;
}
@media (max-width:850px) {
  .tipo-talleres{
    margin: 4rem 2rem;
  }
  .first-des{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .first-des-reverse{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .des-text{
    width: 100%;
  }
  .image{
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img{
    height: 250px;
  }
}

@media screen and (max-width:900px){
  .navbar-items{
    z-index: 99;
  }
  .menu-icons {
    display: block;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: 15%;
    position: absolute;
    top: -100px; 
    left: -100%;
    padding: 80px 0px 30px 0px;
    margin: 0;
    transition: left 0.3s ease-in-out;
    z-index: 10; 
    align-items: center; 
    justify-content: center; 
  }
  .nav-menu.active{
    left: 0;
  }
  .nav-links{
    display: block;
    width: 100%;
    font-size: 1.2rem;
  }
  .nav-links:hover{
    background-color: #d15500 ;
    transition: none;
  }
}
.nav-dropdown {
  position: relative;
}

.nav-dropdown .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; /* Ajusta según tu diseño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px; /* Ajusta según tus necesidades */
  z-index: 1000; /* Asegura que el dropdown esté por encima de otros elementos */
}

/* Mostrar el dropdown al hacer hover sobre el contenedor del dropdown */
.nav-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000; 
  display: block;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #d15500; 
}
.container {
  max-width: 124rem;
  margin: 0 auto;
}
.heading {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: #fd6a01; 
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.line {
  width: 10rem;
  height: 0.5rem;
  background-color: #fd6a01; /* Línea naranja */
  margin: 0 auto 2rem auto; /* Centra la línea y añade margen inferior */
}
.line2 {
  width: 100%;
  height: 0.5rem;
  background-color: #fd6a01; /* Línea naranja */
  margin: 0 auto 2rem auto; /* Centra la línea y añade margen inferior */
}
.line-small {
  width: 5rem;
  height: 0.4rem;
  background-color: #fd6a01; /* Línea naranja */
  margin: 0 auto 2rem auto; /* Centra la línea y añade margen inferior */
}
.description {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #444; /* Color de texto suave para mejorar la legibilidad */
}


.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
  padding-bottom: 40px; /* Espacio para la paginación */

}
.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}
@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}
.swiper-slide img {
  width: 35rem;
  height: 40rem;
  border-radius: 2rem;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la escala y la sombra */
}

.swiper-slide img:hover {
  transform: scale(1.07); /* Aumenta la escala de la imagen al pasar el mouse */
  box-shadow: 0px 8px 24px rgba(18, 28, 53, 0.2); /* Añade una sombra al pasar el mouse */
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fd6a01; /* Color principal del icono */
  position: absolute;
  font-size: 38px; /* Ajusta el tamaño del ícono */
  top: -100%; /* Deja de usar top para posicionar verticalmente */
  bottom: 2rem; /* Alinea las flechas con la paginación */
  z-index: 10;
  cursor: pointer;
  background: #fff; /* Fondo blanco */
  padding: 10px;
  border-radius: 50%; /* Forma circular */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transiciones para suavizar los cambios */
}
.slider-controler .swiper-button-next:hover{
  color: #000000;
}
.slider-controler .swiper-button-prev:hover{
  color: #000000; 
}
@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}
@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}
@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}
@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.slider-controler .slider-arrow{
  font-size: 2rem;
  color: #fd6a01;
}
.slider-controler .slider-arrow::after {
  content: '';
}
.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
  user-select: none; /* Desactiva la selección de texto */
  pointer-events: none; /* Desactiva la posibilidad de interacción */

}
.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  pointer-events: all; /* Rehabilita la interacción con los bullets */

}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #fd6a01
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Para que las tarjetas se ajusten en pantallas pequeñas */
  gap: 0.5rem; /* Espacio entre las tarjetas */
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la escala y la sombra */
}
.talleres-title{
  text-align: center;
  color: #fd6a01;
}
.taller-subtitle{
  color: #fd6a01;
}
.card-circular {
  background-color: #fff;
  border-radius: 50%; /* Cambiado a 50% para ser perfectamente circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;; /* Asegúrate de que el ancho y la altura sean iguales */
  height: 300px; /* Añade la altura igual al ancho */
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  border: 1px solid rgb(202, 202, 202);
}


.card:hover{
  cursor: pointer;
  transform: scale(1.07); /* Aumenta la escala de la imagen al pasar el mouse */
  box-shadow: 0px 8px 24px rgba(18, 28, 53, 0.2); /* Añade una sombra al pasar el mouse */
}

.card-icon {
  margin-bottom: 1rem;
}

.card-description {
  margin-top: 1rem;
}

.card-description h3 {
  color: #fd6a01;
  margin-bottom: 0.5rem;
}

.card-description p {
  color: #444;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .logo {
    max-width: 250px; /* Ajusta el ancho máximo para pantallas medianas */
  }
}
@media (max-width: 1200px) {
  .logo {
    max-width: 150px; /* Ajusta el ancho máximo para pantallas medianas */
  }
}

@media (max-width: 1050) {
  .logo {
    max-width: 100px; /* Ajusta el ancho máximo para pantallas medianas */
  }
}
@media (max-width: 500) {
  .logo {
    max-width: 60px; /* Ajusta el ancho máximo para pantallas medianas */
  }
}
