

.navbar .container-fluid,
.navbar .navbar-brand,
.navbar .nav-item .nav-link {
  color: #fff;
  margin-right: 20px;
}
.navbar .nav-item .nav-link {
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  border-radius: 50px;
}

.navbar .nav-link:hover {
  background-color: #ffffff;
  color: #fd6a01; /* Color al pasar el mouse por encima */
  border-radius: 50px;
}